<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.redminecapstoneproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RedmineCapstoneProject">
        <activity
            android:name=".ui.BloodDonorDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CreateDonorReqActivity"
            android:exported="false" />
        <activity
            android:name=".ui.BloodDonorsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.DonorDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.UserDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detaildonorreq.DetailDonorRequestActivity"
            android:exported="true" />
        <activity
            android:name=".ui.DetailDonationEventsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.DonorRequestActivity"
            android:exported="false" />
        <activity
            android:name=".ui.DonationEventsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.BloodDonationActivity"
            android:exported="true" />
        <activity
            android:name=".ui.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".ui.loginsignup.LoginActivity"
            android:windowSoftInputMode="adjustPan"

            android:exported="true" />
        <activity
            android:name=".ui.donordata.DonorDataActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB_DJEK-BN4McWUIhUn89WRGI-nS77trxE" />
    </application>

</manifest>